
#label-container {
    background-color:thistle;
    color: #ccc;
    align-items: center;
}

#webcam-container {
    align-items: center;
    display:inline;
}

#dog-breed {
    color: #ccc;
    font-size: 30px;
    text-align: center;
    margin-top: -3rem;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#scan-button {
    height: 4.5rem;
    width: 49%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    align-items: top;
    font-size: 20px;
    text-shadow: 2.5px 2.5px 4px rgba(97, 97, 97, 0.7);
    color: rgb(46, 45, 45);
    background: linear-gradient(20deg, rgb(187, 106, 0),40%, rgb(247, 181, 96)) ;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px rgba(204, 138, 53, 0.6);
}

#buttons {
    vertical-align: top;
    height: 4.5rem;
    
}

#breed_list {
    color: #ccc;
}

#upload-button {
    height: 4.5rem;
    width: 49%;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    align-items: top;
    font-size: 20px;
    text-shadow: 2.5px 2.5px 4px rgba(97, 97, 97, 0.7);
    color: rgb(46, 45, 45);
    background: linear-gradient(20deg, rgb(187, 106, 0),40%, rgb(247, 181, 96)) ;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px rgba(204, 138, 53, 0.6);

}

#upload-label {
    display: inline-block;
    padding: 1rem 0rem 1rem;
    width: 100%;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

video {
    width: 100%;
    height: fit-content;
}

#scannerWrapper {
    width: 80%;
    max-width: 1000px;
    padding-top: 20vh;
    place-self: center;
    align-content: center;
    padding-bottom: 8%;
}

#output_image {
    display: inline;
    border: #ccc 1px;
    width: 49%;
    height: auto;
    max-width: 1000px;
    place-self: left;
    align-content: center;
}

.collapsible {
    background-color: rgb(17, 17, 17);
    color: rgb(163, 163, 163);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: rgb(30, 30, 30);
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    padding-bottom: 10px;
    display: none;
    overflow: hidden;
    background-color: rgb(20, 20, 20);
}

#loading {
    color: #ccc;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: 8px;
    font-size: 4vw;

}
#breed_data {
    border-radius: 4px;
    padding-top: 10px;
    font-size: 2.8vh;
    color:#ccc;
    text-align: end;
    transition: all 0.2s;
    /* margin: 0 auto; */
    width: 100%;
  }
#breed_data_table {
    width:100%;
    line-height: 35px;
    vertical-align: top;
  }

td {
    vertical-align: top;
    border: #ccc 1px;

}

#dog {
    display: inline;
    border: #ccc 1px;
    width: 49%;
    height: auto;
    max-width: 1000px;
    place-self: center;
    align-content: center;
}


@media only screen and (max-width: 600px) {

#dog-breed {
    font-size: 21px;
}

#upload-label {
    display: block !important;
    padding: unset !important;
}

}